/*indica los margenes left y top del menu en este caso 0 y 0*/

#menu {list-style-type:none; margin:0px 0 0px 0px; padding:0;}

#menu li {float:left; padding:0; margin:0 0px 0 0; position:relative; width:110px; height:1px; z-index:100;}
#menu li a, #menu li a:visited {text-decoration:none;}

#menu dl {position:absolute; top:0; left:0; width: 100px; margin: 0; padding: 0; background: transparent url(transparency.gif);}
#menu dt {background: #0F4E5B; margin:0;font-size: 11px; border-bottom:1px solid #fff; width:110px; float:left;} /*color de fondo por boton*/
#menu dd {display:none; background: transparent; border-bottom:1px solid #cce; clear:left; margin:0; padding:0; color: #fff; font-size: 11px; text-align:left;}

#menu dt a, #menu dt a:visited {display:block; color:#ff8; padding: 5px 5px 5px 5px; width:100px;}
#menu dd a, #menu dd a:visited {background:#0F4E5B; color:#ff8; text-decoration:none; display:block; padding:4px 5px 4px 20px; width:240px;}/*fondo submenu flotante*/

#menu li a:hover {border:0;}

#menu li:hover dd, #menu li a:hover dd {display:block;}
#menu li:hover dl, #menu li a:hover dl {width:265px; border-bottom:15px solid #e2dfa8;}
#menu li:hover dt a, #menu li a:hover dt a, #menu dd a:hover {background: #e2dfa8; color:#534;